<!DOCTYPE html>
<html lang="en-US">
<title>Battleship is neat</title>
<script src="js/angular.min.js"></script>
<script src="js/battleship-app.js"></script>
<script>
console.log('Hello');
</script>
<style>
.battleshipButton {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  background-color: lightblue;
}

.battleshipButton.shot {
  background-color: white;
}

.battleshipButton.shot.ship.sunk {
  background-color: black;
}

.battleshipButton.shot.ship {
  background-color: red;
}

# Un-comment this to show positioned ships before shooting them
#.battleshipButton.ship.notShot {
#  background-color: darkblue;
#}

.shipsImages {
  float: right;
}

.ship img {
  max-width: 200px;
}

.shipLabel {
  font-weight: bold;
  font-size: large;
}

.ship {
  border: 1px solid black;
  padding: 4px;
}

.shipOuter {
  padding: 3px;
}

.player {
  display: inline;
  padding: 1px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.player.selected {
  border: 1px solid yellow;
  background-color: lightyellow;
  color: red;
}

.player:hover {
  border: 1px solid blue;
  background-color: lightblue;
}

.playername {
  display: inline;
}

.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: aqua;
}

.turnAnnounce {
  margin: 15% auto;
  border: 3px solid black;
  padding: 40px;
  width: 60%;
  font-size: large;
  background-color: lightgray;
  border-radius: 15px;
}

</style>
<body>

<div ng-app="BattleshipApp">
<div ng-controller="BattleshipCtrl">
<button ng-click="setupGame()">Restart Game</button>

<div class="cover" ng-show="coverScreen">
  <div class="turnAnnounce">
    <p align="center">Now it's {{ turnPlayer.name }}'s turn!</p>
  </div>
</div>

<!-- Select number of players -->
<div ng-show="! gameRunning">
  Select number of players: <input id="numPlayers" ng-model="numPlayers"></input>
  <button ng-click="beginGame()">Begin Game</button>
</div>

<div ng-show="gameRunning">
<!-- Select player to shoot at -->
  <div class="playerSelector">
    <div class="player" ng-class="{selected: player === curPlayer}" ng-repeat="player in players" ng-click="selectPlayer(player, $index)"><div class="playername">{{ player.name }}</div></div>
  </div>

  <div class="shipsImages" ng-show="curPlayer">
    <div class="shipOuter" ng-repeat="ship in curPlayer.ships" ng-show="ship.hits < ship.length">
      <div class="ship">
        <div align="center" class="shipLabel"><b>{{ ship.name }}<b></div>
        <div class="shipLength">Length: {{ ship.length }}</div>
        <div><img ng-src="{{ ship.image }}"></div>
      </div>
    </div>
  </div>
  
  <div class="battleshipRow" ng-repeat="row in curPlayer.board" ng-show="curPlayer">
    <button class="battleshipButton"
       ng-click="shoot($parent.$index, $index)"
       ng-repeat="column in row track by $index"
       ng-class="{ ship: curPlayer.board[$parent.$index][$index].ship, shot: curPlayer.board[$parent.$index][$index].shot, notShot: !curPlayer.board[$parent.$index][$index].shot, sunk: curPlayer.board[$parent.$index][$index].ship.sunk }"
    >
       {{ rowNames[$parent.$index] }}{{ $index + 1 }}
    </button>
  </div>

  <div>
    It's {{ turnPlayer.name }}'s turn. You have {{ turnShotsLeft }} {{ shotLabel }} left.
  </div>
</div>

<div class="message" ng-repeat="msg in messages">
Message: {{ msg.message }}
</div>

</div>
</div>

</body>
</html>
